In [1]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (2.9.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# import password ,username  , port from config file
from config import username ,password , port

In [3]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
from sqlalchemy.types import *

In [4]:
#import os
#os.getcwd()

age_2016_df = pd.read_csv('./Resources/2016_states_by_age.csv')
age_2016_df.head()

age_2016_df.columns = age_2016_df.columns.str.lower()
# columns_rename_map={'Total Population':'Total_Population', 'Percent Registered\n(Total)':'Total_Percent_registered'}
# age_2016_df=age_2016_df.rename(columns_rename_map, axis=1)
age_2016_df

,state,age,total population,total citizen population,total registered,percent registered\n(total),margin of error,percent registered\n(citizen),margin of error.1,total voted,percent voted\n(total),margin of error.2,percent voted\n(citizen),margin of error.3
0,US,Total,"245,502","224,059","157,596",64.2,0.3,70.3,0.3,"137,537",56.0,0.3,61.4,0.3
1,US,18 to 24,"29,320","26,913","14,905",50.8,0.9,55.4,0.9,"11,560",39.4,0.9,43.0,0.9
2,US,25 to 34,"43,794","38,283","24,682",56.4,0.7,64.5,0.8,"20,332",46.4,0.7,53.1,0.8
3,US,35 to 44,"39,905","34,327","23,948",60.0,0.8,69.8,0.8,"20,662",51.8,0.8,60.2,0.8
4,US,45 to 64,"83,799","77,544","57,394",68.5,0.5,74.0,0.5,"51,668",61.7,0.5,66.6,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,WYOMING,18 to 24,57,55,33,B,B,B,B,30,B,B,B,B
308,WYOMING,25 to 34,75,73,47,B,B,B,B,42,B,B,B,B
309,WYOMING,35 to 44,70,68,46,B,B,B,B,40,B,B,B,B
310,WYOMING,45 to 64,151,148,110,72.9,4.4,74.2,4.4,102,67.4,4.7,68.6,4.7
311,WYOMING,65+,83,83,68,B,B,B,B,63,B,B,B,B

In [5]:
#  Used DataFrame indexing to create a new column Year in DataFrame and set it to default values to 2016.
#df[col_name]=value
age_2016_df['voting_year']= 2016
age_2016_df.head()

,state,age,total population,total citizen population,total registered,percent registered\n(total),margin of error,percent registered\n(citizen),margin of error.1,total voted,percent voted\n(total),margin of error.2,percent voted\n(citizen),margin of error.3,voting_year
0,US,Total,"245,502","224,059","157,596",64.2,0.3,70.3,0.3,"137,537",56.0,0.3,61.4,0.3,2016
1,US,18 to 24,"29,320","26,913","14,905",50.8,0.9,55.4,0.9,"11,560",39.4,0.9,43.0,0.9,2016
2,US,25 to 34,"43,794","38,283","24,682",56.4,0.7,64.5,0.8,"20,332",46.4,0.7,53.1,0.8,2016
3,US,35 to 44,"39,905","34,327","23,948",60.0,0.8,69.8,0.8,"20,662",51.8,0.8,60.2,0.8,2016
4,US,45 to 64,"83,799","77,544","57,394",68.5,0.5,74.0,0.5,"51,668",61.7,0.5,66.6,0.5,2016

In [6]:
age_2018_df = pd.read_csv('./Resources/2018_states_by_age.csv')
age_2018_df.head()
age_2018_df.columns = age_2018_df.columns.str.lower()

In [7]:
#  Used DataFrame indexing to create a new column Year in DataFrame and set it to default values to 2018.
#df[col_name]=value
age_2018_df['voting_year']= 2018
age_2018_df.head()

,state,age,total population,total citizen population,total registered,percent registered\n(total),margin of error,percent registered\n(citizen),margin of error.1,total voted,percent voted\n(total),margin of error.2,percent voted\n(citizen),margin of error.3,voting_year
0,US,Total,"249,748","228,832","153,066",61.3,0.3,66.9,0.3,"122,281",49.0,0.3,53.4,0.3,2018
1,US,18 to 24,"28,993","26,950","13,241",45.7,0.9,49.1,0.9,"8,726",30.1,0.8,32.4,0.9,2018
2,US,25 to 34,"44,769","39,280","23,342",52.1,0.7,59.4,0.8,"16,545",37.0,0.7,42.1,0.8,2018
3,US,35 to 44,"40,784","35,403","23,383",57.3,0.8,66.0,0.8,"18,041",44.2,0.8,51.0,0.8,2018
4,US,45 to 64,"83,277","77,085","55,032",66.1,0.5,71.4,0.5,"45,829",55.0,0.5,59.5,0.5,2018

In [8]:
age_2018_df.shape

(312, 15)

In [9]:
age_2016_df.shape

(312, 15)

In [10]:
age_union_dfs = pd.concat([age_2016_df, age_2018_df], ignore_index=True)
age_union_dfs

,state,age,total population,total citizen population,total registered,percent registered\n(total),margin of error,percent registered\n(citizen),margin of error.1,total voted,percent voted\n(total),margin of error.2,percent voted\n(citizen),margin of error.3,voting_year
0,US,Total,"245,502","224,059","157,596",64.2,0.3,70.3,0.3,"137,537",56.0,0.3,61.4,0.3,2016
1,US,18 to 24,"29,320","26,913","14,905",50.8,0.9,55.4,0.9,"11,560",39.4,0.9,43.0,0.9,2016
2,US,25 to 34,"43,794","38,283","24,682",56.4,0.7,64.5,0.8,"20,332",46.4,0.7,53.1,0.8,2016
3,US,35 to 44,"39,905","34,327","23,948",60.0,0.8,69.8,0.8,"20,662",51.8,0.8,60.2,0.8,2016
4,US,45 to 64,"83,799","77,544","57,394",68.5,0.5,74.0,0.5,"51,668",61.7,0.5,66.6,0.5,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,WYOMING,18 to 24,44,44,15,B,B,B,B,9,B,B,B,B,2018
620,WYOMING,25 to 34,84,80,42,50.1,6.7,52.4,6.8,28,33.6,6.3,35.2,6.5,2018
621,WYOMING,35 to 44,67,65,40,B,B,B,B,28,B,B,B,B,2018
622,WYOMING,45 to 64,142,141,98,69.3,4.8,69.8,4.8,88,62.0,5.0,62.5,5.0,2018
623,WYOMING,65+,94,93,73,77.3,5.3,78.1,5.3,67,71.1,5.8,71.8,5.7,2018

In [11]:
columns_rename_map={'state':'state', 'age':'age', 'total population':'total_population' , 'total citizen population':'total_citizen_population',
                   'total registered' :'total_registered','percent registered\n(total)':'percent_registered_total' ,'margin of error': 'margin_of_error',
                   'percent registered\n(citizen)':'percent_registered_citizen', 'margin of error.1':'margin_of_error1', 'total voted':'total_voted',
                    'percent voted\n(total)':'percent_voted_total', 'margin of error.2':'margin_of_error2', 'percent voted\n(citizen)':'percent_voted_citizen',
                   'margin of error.3':'margin_of_error3'}
age_union_dfs=age_union_dfs.rename(columns_rename_map, axis=1)
age_union_dfs.drop(['margin_of_error','margin_of_error1','margin_of_error2','margin_of_error3'], inplace=True,axis=1)

age_union_dfs.columns

Index(['state', 'age', 'total_population', 'total_citizen_population',
       'total_registered', 'percent_registered_total',
       'percent_registered_citizen', 'total_voted', 'percent_voted_total',
       'percent_voted_citizen', 'voting_year'],
      dtype='object')

In [12]:
age_union_dfs.iloc[6:,:].state = age_union_dfs.state.str.title()
print(age_union_dfs.state)

0           US
1           US
2           US
3           US
4           US
        ...
619    Wyoming
620    Wyoming
621    Wyoming
622    Wyoming
623    Wyoming
Name: state, Length: 624, dtype: object

C:\Users\nico.cosereanu\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [13]:
age_union_dfs.iloc[:,2:]=age_union_dfs.iloc[:,2:].replace('B','0',regex=True)
# age_union_dfs.iloc[:,2:]=sex_race_union_dfs.iloc[:,2:].replace('-','0',regex=True)
age_union_dfs.iloc[:,2:]=age_union_dfs.iloc[:,2:].replace(',','', regex=True)

In [14]:
# connecting to postgres database
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:{port}/Vote_data_db')
connection = engine.connect()

In [15]:
age_schema={'state':Text,
                'age':Text,
                'total_population':Integer,
                'total_citizen_population':Numeric,
                'total_registered':Integer,
                'percent_registered_total':Numeric,
                'percent_registered_citizen':Numeric,
                'total_voted':Integer,
                'percent_voted_total':Numeric,
                'percent_voted_citizen':Numeric,
                'voting_year':Integer
                }


age_union_dfs.to_sql(
    'age_dataset', 
    engine,
    if_exists='replace',
    dtype=age_schema
    ,index_label='id'
    #,index=False # Not copying over the index
)

with engine.connect() as conn:
    conn.execute("""
    ALTER TABLE age_dataset ADD PRIMARY KEY(id);
    """)

In [16]:
sex_race_2016_df = pd.read_csv('./Resources/2016_states_by_sex_race_hispanic_origin.csv')
sex_race_2016_df.head()

sex_race_2016_df.columns = sex_race_2016_df.columns.str.lower()
sex_race_2016_df.head()

,state,"sex, race and hispanic-origin",total population,total citizen population,total registered,percent registered\n(total),margin of error,percent registered\n(citizen),margin of error.1,total voted,percent voted\n(total),margin of error.2,percent voted\n(citizen),margin of error.3
0,US,Total,"245,502","224,059","157,596",64.2,0.3,70.3,0.3,"137,537",56.0,0.3,61.4,0.3
1,US,Male,"118,488","107,554","73,761",62.3,0.4,68.6,0.4,"63,801",53.8,0.4,59.3,0.5
2,US,Female,"127,013","116,505","83,835",66.0,0.4,72.0,0.4,"73,735",58.1,0.4,63.3,0.4
3,US,White alone,"192,129","177,865","127,463",66.3,0.3,71.7,0.3,"111,891",58.2,0.3,62.9,0.4
4,US,White non-Hispanic alone,"157,395","154,450","114,151",72.5,0.3,73.9,0.3,"100,849",64.1,0.4,65.3,0.4

In [17]:
sex_race_2016_df.drop(['margin of error','margin of error.1','margin of error.2','margin of error.3'], inplace=True,axis=1)
sex_race_2016_df

,state,"sex, race and hispanic-origin",total population,total citizen population,total registered,percent registered\n(total),percent registered\n(citizen),total voted,percent voted\n(total),percent voted\n(citizen)
0,US,Total,"245,502","224,059","157,596",64.2,70.3,"137,537",56.0,61.4
1,US,Male,"118,488","107,554","73,761",62.3,68.6,"63,801",53.8,59.3
2,US,Female,"127,013","116,505","83,835",66.0,72.0,"73,735",58.1,63.3
3,US,White alone,"192,129","177,865","127,463",66.3,71.7,"111,891",58.2,62.9
4,US,White non-Hispanic alone,"157,395","154,450","114,151",72.5,73.9,"100,849",64.1,65.3
...,...,...,...,...,...,...,...,...,...,...
567,WYOMING,Asian alone,6,4,3,B,B,3,B,B
568,WYOMING,Hispanic (of any race),32,26,15,B,B,12,B,B
569,WYOMING,White alone or in combination,409,404,289,70.5,71.6,264,64.6,65.5
570,WYOMING,Black alone or in combination,6,6,6,B,B,4,B,B
571,WYOMING,Asian alone or in combination,7,4,3,B,B,3,B,B

In [18]:
#  Used DataFrame indexing to create a new column Year in DataFrame and set it to default values to 2016.
#df[col_name]=value
sex_race_2016_df['voting_year']= 2016
sex_race_2016_df.head()
columns_rename_map={'state':'state', 'sex, race and hispanic-origin':'sex_race_hispanic_origin','total population':'total_population',
                   'total citizen population':'total_citizen_population','total registered':'total_registered' ,
                    'percent registered\n(total)':'percent_registered_total',
                    'percent registered\n(citizen)':'percent_registered_citizen',
                    'total voted':'total_voted','percent voted\n(total)':'percent_voted_total',
                    'percent voted\n(citizen)':'percent_voted_citizen',
                   }
sex_race_2016_df=sex_race_2016_df.rename(columns_rename_map, axis=1)
sex_race_2016_df

,state,sex_race_hispanic_origin,total_population,total_citizen_population,total_registered,percent_registered_total,percent_registered_citizen,total_voted,percent_voted_total,percent_voted_citizen,voting_year
0,US,Total,"245,502","224,059","157,596",64.2,70.3,"137,537",56.0,61.4,2016
1,US,Male,"118,488","107,554","73,761",62.3,68.6,"63,801",53.8,59.3,2016
2,US,Female,"127,013","116,505","83,835",66.0,72.0,"73,735",58.1,63.3,2016
3,US,White alone,"192,129","177,865","127,463",66.3,71.7,"111,891",58.2,62.9,2016
4,US,White non-Hispanic alone,"157,395","154,450","114,151",72.5,73.9,"100,849",64.1,65.3,2016
...,...,...,...,...,...,...,...,...,...,...,...
567,WYOMING,Asian alone,6,4,3,B,B,3,B,B,2016
568,WYOMING,Hispanic (of any race),32,26,15,B,B,12,B,B,2016
569,WYOMING,White alone or in combination,409,404,289,70.5,71.6,264,64.6,65.5,2016
570,WYOMING,Black alone or in combination,6,6,6,B,B,4,B,B,2016
571,WYOMING,Asian alone or in combination,7,4,3,B,B,3,B,B,2016

In [19]:
sex_race_2018_df = pd.read_csv('./Resources/2018_states_by_sex_race_hispanic_origin.csv')
sex_race_2018_df.head()
#df.drop(['C', 'D'], axis=1)
sex_race_2018_df.drop(['Margin of error','Margin of error ','Margin of error.1','Margin of error.2'], inplace=True,axis=1)
#sex_race_2018_df.columns
#sex_race_2018_df.drop(['Margin of error'], inplace=True,axis=1)
sex_race_2018_df.columns = sex_race_2018_df.columns.str.lower()
sex_race_2018_df

,state,"sex, race, and hispanic-origin",total population\n,total citizen population\n,total registered,percent registered\n(total),percent registered\n(citizen),total voted,percent voted\n(total),percent voted\n(citizen)
0,US,Total,"249,748","228,832","153,066",61.3,66.9,"122,281",49.0,53.4
1,US,Male,"120,573","110,006","71,726",59.5,65.2,"56,964",47.2,51.8
2,US,Female,"129,176","118,826","81,340",63.0,68.5,"65,317",50.6,55.0
3,US,White alone,"194,127","180,522","123,727",63.7,68.5,"99,255",51.1,55.0
4,US,White non-Hispanic alone,"157,610","154,982","110,054",69.8,71.0,"89,075",56.5,57.5
...,...,...,...,...,...,...,...,...,...,...
567,WYOMING,Asian alone,3,1,-,B,B,-,B,B
568,WYOMING,Hispanic (of any race),41,37,16,B,B,13,B,B
569,WYOMING,White alone or in combination,410,405,261,63.6,64.4,216,52.5,53.2
570,WYOMING,Black alone or in combination,6,5,3,B,B,2,B,B
571,WYOMING,Asian alone or in combination,3,1,-,B,B,-,B,B

In [20]:
#  Used DataFrame indexing to create a new column Year in DataFrame and set it to default values to 2018.
#df[col_name]=value
sex_race_2018_df['voting_year']= 2018
sex_race_2018_df.head()
sex_race_2018_df.columns

Index(['state', 'sex, race, and hispanic-origin', 'total population\n',
       'total citizen population\n', 'total registered',
       'percent registered\n(total)', 'percent registered\n(citizen)',
       'total voted', 'percent voted\n(total)', 'percent voted\n(citizen)',
       'voting_year'],
      dtype='object')

In [21]:
columns_rename_map={'state':'state', 'sex, race, and hispanic-origin':'sex_race_hispanic_origin','total population\n':'total_population',
                   'total citizen population\n':'total_citizen_population','total registered':'total_registered' ,
                    'percent registered\n(total)':'percent_registered_total',
                    'percent registered\n(citizen)':'percent_registered_citizen',
                    'total voted':'total_voted','percent voted\n(total)':'percent_voted_total',
                    'percent voted\n(citizen)':'percent_voted_citizen',
                   }
sex_race_2018_df=sex_race_2018_df.rename(columns_rename_map, axis=1)
sex_race_2018_df

,state,sex_race_hispanic_origin,total_population,total_citizen_population,total_registered,percent_registered_total,percent_registered_citizen,total_voted,percent_voted_total,percent_voted_citizen,voting_year
0,US,Total,"249,748","228,832","153,066",61.3,66.9,"122,281",49.0,53.4,2018
1,US,Male,"120,573","110,006","71,726",59.5,65.2,"56,964",47.2,51.8,2018
2,US,Female,"129,176","118,826","81,340",63.0,68.5,"65,317",50.6,55.0,2018
3,US,White alone,"194,127","180,522","123,727",63.7,68.5,"99,255",51.1,55.0,2018
4,US,White non-Hispanic alone,"157,610","154,982","110,054",69.8,71.0,"89,075",56.5,57.5,2018
...,...,...,...,...,...,...,...,...,...,...,...
567,WYOMING,Asian alone,3,1,-,B,B,-,B,B,2018
568,WYOMING,Hispanic (of any race),41,37,16,B,B,13,B,B,2018
569,WYOMING,White alone or in combination,410,405,261,63.6,64.4,216,52.5,53.2,2018
570,WYOMING,Black alone or in combination,6,5,3,B,B,2,B,B,2018
571,WYOMING,Asian alone or in combination,3,1,-,B,B,-,B,B,2018

In [22]:
sex_race_2016_df.shape

(572, 11)

In [23]:
sex_race_2018_df.shape

(572, 11)

In [24]:
sex_race_union_dfs = pd.concat([sex_race_2016_df,sex_race_2018_df], ignore_index=True)
sex_race_union_dfs.iloc[:,2:]=sex_race_union_dfs.iloc[:,2:].replace('B','0',regex=True)
sex_race_union_dfs.iloc[:,2:]=sex_race_union_dfs.iloc[:,2:].replace('-','0',regex=True)
sex_race_union_dfs.iloc[:,2:]=sex_race_union_dfs.iloc[:,2:].replace(',','', regex=True)
sex_race_union_dfs.columns

Index(['state', 'sex_race_hispanic_origin', 'total_population',
       'total_citizen_population', 'total_registered',
       'percent_registered_total', 'percent_registered_citizen', 'total_voted',
       'percent_voted_total', 'percent_voted_citizen', 'voting_year'],
      dtype='object')

In [25]:
sex_race_union_dfs.iloc[11:,:].state = sex_race_union_dfs.state.str.title()
print(sex_race_union_dfs.state)

0            US
1            US
2            US
3            US
4            US
         ...
1139    Wyoming
1140    Wyoming
1141    Wyoming
1142    Wyoming
1143    Wyoming
Name: state, Length: 1144, dtype: object

C:\Users\nico.cosereanu\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [26]:
# Save the data from dataframe to
# postgres table "age_dataset"


sex_race_schema={'state':Text,
                'sex_race_hispanic_origin':Text,
                'total_population':Integer,
                'total_citizen_population':Numeric,
                'total_registered':Integer,
                'percent_registered_total':Numeric,
                'percent_registered_citizen':Numeric,
                'total_voted':Integer,
                'percent_voted_total':Numeric,
                'percent_voted_citizen':Numeric,
                'voting_year':Integer
                }


sex_race_union_dfs.to_sql(
    'sex_race_dataset', 
    engine,
    if_exists='replace',
    dtype=sex_race_schema
    ,index_label='id'
    #,index=False # Not copying over the index
)

with engine.connect() as conn:
    conn.execute("""
    ALTER TABLE sex_race_dataset ADD PRIMARY KEY(id);
    """)